.cage{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24em;
  height: 24em;
  background: #ccc;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5) 50%,
                                        rgba(0, 255, 0, 0.5) 50%),
              linear-gradient(to bottom, rgba(0, 0, 255, 0.5) 50%,
                                        rgba(255, 255, 0, 0.5) 50%);  
}
.box{
  position: relative;
  width: 12em;
  height: 12em;
  float: left;
  background: transparent;
}
.dot{
  z-index: -1;
  position: absolute;
  top: 5.5em;
  left: 5.5em;
  border-radius: 50%;
  background: #fff;
  width: 1em;
  height: 1em;
  transition:  0.155s all ease-in;
  will-change: box-shadow;
  will-change: transform;
}
.dot:after{
  position: absolute;
  content: "";
  border-radius: inherit;
  background: inherit;
  width: inherit;
  height: inherit;
  box-shadow: 0 0 0 0.25em #fff;
  will-change: animation;
  will-change: transform;
  will-change: opacity;
}
.box--topleft:hover ~ .dot{
  transform:  translate(12em, 0);
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.5);
}
.box--topleft:hover ~ .dot:after{
  animation: superdot1 0.155s 1; 
}
.box--topright:hover ~ .dot{
  transform:  translate(0, 12em);
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.5);
}
.box--topright:hover ~ .dot:after{
  animation: superdot1 0.155s 1; 
}
.box--bottomleft:hover ~ .dot{
  transform:  translate(12em , 12em);
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.5);
}
.box--bottomleft:hover ~ .dot:after{
  animation: superdot1 0.155s 1; 
}
.box--bottomright:hover ~ .dot{
  transform:  translate(0, 0);
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.5);
}
.box--bottomright:hover ~ .dot:after{
  animation: superdot1 0.155s 1; 
}
@keyframes superdot1{
  0%, 100%{
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(3);
    opacity: 0.4;
  }
}
